<a href="https://colab.research.google.com/github/robitussin/CCINSYSL_EXERCISES/blob/main/exercise_5_a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 5 A

One of the classic public datasets used to demonstrate binary classification is the titanic dataset which lists 891 of the the passengers aboard the RMS Titanic when it sank on April 15, 1912.

The dataset includes the name of each passenger as well as other information such as the fare class, the fare price, the person's age and gender, and whether that person survived the sinking of the ship.

In this example, you will build a binary-classification model that predicts whether a passenger will survive. We will use logistic regression as the learning algorithm.

<img src=""/>

In [ ]:
import pandas as pd
import seaborn as sns
from seaborn import load_dataset
from sklearn.linear_model import LogisticRegression

In [ ]:
df = load_dataset("titanic")

#### 1. Filter the dataset to remove columns that won't be used,

In [ ]:
# put your answer here

#### 2. Use `get_dummies()` function to convert the "Sex" and "Pclass" columns into ones and zeroes.

In [ ]:
# put your answer here

#### 3. Remove rows with missing values.

In [ ]:
# put your answer here

#### 4. Split the dataset into a training and test set.

In [ ]:
# put your answer here

#### 5. Create a new instance of the Logistic Regression class

In [ ]:
# put your answer here

#### 6. Train the model using the `fit()` method

In [ ]:
# put your answer here

#### 7. Get an accuracy score.

In [ ]:
# put your answer here

### Use the model to make predictions

#### 8. Use  the model to predict whether a 30-year-old female traveling in first class will survive the voyage.

In [ ]:
# put your answer here

#### 9. What is the probability that a 30-year-old female traveling in first class will survive?

In [ ]:
# put your answer here

#### 10. What is the probability that a 60-year-old male traveling in third class will survive??

In [ ]:
# put your answer here